$white:#FFF;
$boxShadowColor:#091E3F1A;
$colorTitle:#242A37;
$greyColor:#898F9F;
$black:#000000;
$orangeColor:#FF6B08;
$darkBlue:#091E3FCC;
$secondWhite:#F5F7FA;
$darkGrey:#707375;
$boxShadowColorTwo:#1D1D1B26;
$greyLight:#A6ABB9;
$greyLightSecond:#F6F7FB;
$orangeColorDarker:#D15807;
$overlayColor:#2B2B2B1A;
$greyDarkSecond:#6D7A8D;