.headerReading {
    width: 320px;
    height: 60px;
    background-color: $white;
    box-shadow: 0px 2px 3px 0px $boxShadowColor;
    margin: auto;
    display: flex;
}
.titleHeader{
    @include title-text;
    font-size: 20px;
    margin: auto;
}
@media(min-width:768px){
    .headerReading{
        width:768px
    }
    .titleHeader{
        margin:0;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
}
@media(min-width:1440px){
    .headerReading{
        width:1280px;
    }
}