.wrapperIntention {
    width: 270px;
    height: 178px;
    background-color: $white;
    margin: auto;
    box-shadow: 0px 2px 3px 0px $boxShadowColor;

}

.wrapperTitle {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    gap: 13px;
    align-items: start;
}

.wrapperDescription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.title-intention {
    color: $colorTitle;
    font-family: "Montserrat";
    font-weight: 500;
}

@media(min-width:768px) {
    .wrapperIntention {
        width: 678px;
        height: 62px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .wrapperDescription {
        flex-direction: row;
    }
    .wrapperTitle{
        margin-top:0;
    }
}