.mainWrapperIntention {
    width: 320px;
    height: auto;
    background-color: $greyLightSecond;
    margin: auto;
    padding-bottom: 40px;
}

.mainTitleIntention {
    margin-left: 25px;
    padding-top: 30px;
    @include title;
}

.wrapperIntention {
    width: 270px;
    height: 178px;
    background-color: $white;
    margin: auto;
    box-shadow: 0px 2px 3px 0px $boxShadowColor;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.wrapperTitle {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    gap: 13px;
    align-items: start;
}

.wrapperDescription {
    display: grid;
    grid-template-columns: 60px auto;
    row-gap: 6px;
    column-gap: 8px;
    margin: 10px auto;
}

.text-empty {
    text-align: center;
    @include title;
}

.title-intention {
    color: $colorTitle;
    font-family: "Montserrat";
    font-weight: 500;
}

.subtitle-intention {
    @include text-second;
    font-size: 12px;
}

.info-intention {
    @include text-second;
    font-size: 12px;
    color: $colorTitle;
}

.intentionHeader {
    display: none;
}

.btnNewIntention {
    border-radius: 50%;
    background-color: $orangeColor;
    width: 52px;
    height: 52px;
    color: $white;
    border: none;
    position: relative;
    bottom: 30px;
}

.btnNext {
    width: 172px;
    height: 42px;
    background-color: $orangeColor;
    @include text-second;
    color: $white;
    border: none;
}

.btnWrapperIntention {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bookItem {
    cursor: grab;
}

.bookItem:active {
    cursor: grabbing;
}

@media(min-width:768px) {
    .mainWrapperIntention {
        width: 768px;
    }

    .btnNext {
        margin-top: 40px;
    }

    .title-intention.finishedTitleIntention {
        width: 45px;
    }

    .intentionHeader.finishedHeader {
        grid-template-columns: 170px 1fr 70px 90px 260px;
    }

    .wrapperDescription.wrapperDescriptionFinished {
        grid-template-columns: 1fr 0px 0px 60px 0px;
        align-items: center;
        column-gap: 80px;
    }

    .wrapperIntention {
        width: 678px;
        height: 62px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .intentionHeader {
        display: grid;
        grid-template-columns: 370px 1fr 90px 100px;
        align-items: center;
        margin: 20px 20px 0px 50px;
    }

    .subtitle-intention {
        display: none;
    }


    .title-intention {
        width: 240px;
        font-size: 14px;
    }

    .wrapperTitle {
        margin-top: 0;
        align-items: center;
    }

    .wrapperDescription {
        grid-template-columns: 120px 1fr 0px 0px;
        column-gap: 53px;
        margin: 0px 0px 0px 70px;
    }

    .btnNewIntention {
        display: none;
    }

    .mainTitleIntention {
        margin-left: 45px;
    }

    .btnResume {
        background-color: $greyDarkSecond;
        width: 80px;
        height: 40px;
        box-shadow: 0px 2px 4px 0px #00000040;
        @include text-second;
        color: white;
        border: none;
    }
}

@media(min-width:1440px) {
    .intentionHeader {
        grid-template-columns: 4fr 3fr 1fr 1fr;
        align-items: center;
        column-gap: 16px;
        width: 1240px;
        margin-bottom: 20px;
    }

    .btnResume {
        width: 130px;
    }

    .intentionHeader.finishedHeader {
        grid-template-columns: 370px 1fr 70px 120px 460px;
    }

    .wrapperDescription.wrapperDescriptionFinished {
        grid-template-columns: 80px 1fr 40px 120px 460px;
        margin: 0px 0px 0px 300px;
    }

    .mainTitleIntention {
        margin-left: 39px;
    }

    .wrapperIntention {
        width: 1202px;
        margin: 10px 0 0 40px;
    }

    .wrapperDescription {
        margin: 0px 0px 0px 250px;
        grid-template-columns: minmax(360px, 2fr) minmax(110px, 3fr) minmax(80px, 1fr) minmax(80px, 1fr);
        width: 100%;
    }

    .mainWrapperIntention {
        width: 1280px;
    }

    .btnWrapperIntention {
        width: 1280px;
    }
}