@import "./utils/utils";
@import "./placeholder/placeholder";
@import "./container";
@import  "./header";
@import "./info-page";
@import "./registration";
@import "./login";
@import "./quote-wrapper";
@import "./instruction-library";
@import "./library-page";
@import "./library-intention";
@import "./modal-resume";
@import "./star";