.container {
  width: 320px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1280px;
  }
}
.headerReading {
  width: 320px;
  height: 60px;
  background-color: #FFF;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1019607843);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.titleHeader {
  font-weight: bold;
  font-family: "Abril Fatface";
  color: #242A37;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.btnHeader, .btnHeader--back {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: none;
  background-color: #F5F7FA;
}
.btnHeader--back {
  background: transparent;
}

.btnLogOut {
  border: none;
  background: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  font-weight: 300;
}

.textHeader {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  font-weight: 300;
}

.separate-dash {
  margin: 0;
  height: 33px;
  background-color: #E0E5EB;
}

.iconsWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userWrapperHeader {
  display: none;
}

@media (min-width: 768px) {
  .headerReading {
    width: 748px;
    justify-content: space-between;
    padding-right: 20px;
  }
  .userWrapperHeader {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .btnAnotherDevices {
    display: none;
  }
  .titleHeader {
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
}
@media (min-width: 1440px) {
  .headerReading {
    width: 1260px;
  }
}
.titleInfo {
  font-weight: bold;
  font-family: "Abril Fatface";
  color: #242A37;
  font-size: 34px;
  text-align: center;
}

.containerInfo {
  width: 320px;
  height: 588px;
  display: flex;
  background-color: #FFF;
  margin: 10px auto 0;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
}

.containerOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.textOption {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  width: 254px;
}

.titleOption {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  font-size: 20px;
  color: #242A37;
}

.btnOptionLog {
  width: 127px;
  height: 40px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  border: 1px solid #000000;
  color: #242A37;
  background: none;
}
@media (min-width: 768px) {
  .btnOptionLog {
    width: 200px;
  }
}

.btnOptionSign {
  width: 127px;
  height: 40px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  color: #FFF;
  background-color: #FF6B08;
  border: none;
}
@media (min-width: 768px) {
  .btnOptionSign {
    width: 200px;
  }
}

.wrapperTextOption {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapperButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

@media (min-width: 768px) {
  .wrapperTextOption {
    align-items: start;
  }
  .containerInfo {
    width: 768px;
  }
  .titleOption {
    font-size: 20px;
  }
  .textOption {
    width: 461px;
  }
}
@media (min-width: 1440px) {
  .containerInfo {
    width: 715px;
    gap: 40px;
    justify-content: center;
  }
  .wrapperTextOption {
    margin-left: 75px;
  }
}
.wrapperRegistration {
  background-image: url("../assets/images/backgroundRegistration.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 618px;
  margin: auto;
}

.wrapperLayout {
  width: 320px;
  height: 618px;
  background-color: rgba(9, 30, 63, 0.8);
}

.btnGoogle {
  width: 150px;
  height: 40px;
  background-color: #F5F7FA;
  box-shadow: 0px 2px 2px 0px rgba(9, 30, 63, 0.1019607843);
  border: none;
  color: #707375;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.formRegistration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 26px;
}

.formRegistration label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  color: #FFF;
  font-weight: 600;
  gap: 10px;
}

.inputAccount {
  width: 270px;
  height: 42px;
  background-color: #F5F7FA;
  border: 1px solid transparent;
  outline: none;
  box-shadow: 0px 1px 2px 0px rgba(29, 29, 27, 0.1490196078) inset;
  padding-left: 20px;
}
.inputAccount::placeholder {
  color: #A6ABB9;
}
.inputAccount:focus {
  border-color: #FF6B08;
}

.labelText {
  display: inline-flex;
}

.btnAccount {
  background-color: #FF6B08;
  width: 270px;
  height: 60px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  border: none;
}

.starRequired {
  color: #FF6B08;
}

.btnLogIn {
  border: none;
  background: none;
  display: flex;
  gap: 3px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
}

.text-sign-up {
  color: #FF6B08;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .wrapperRegistration {
    width: 768px;
    height: 760px;
    background-image: url("../assets/images/backgroundRegistrationTablet.png");
  }
  .wrapperLayout {
    width: 768px;
    height: 700px;
    padding-top: 60px;
  }
  .formRegistration {
    background-color: #FFF;
    width: 400px;
    height: 610px;
    margin: auto;
  }
  .formRegistration label {
    color: #898F9F;
  }
  .inputAccount {
    width: 320px;
  }
}
@media (min-width: 1440px) {
  .wrapperElement {
    width: 1280px;
    display: flex;
    margin: auto;
  }
  .wrapperRegistration {
    width: 565px;
    background-image: url("../assets/images/backgroundRegistrationDesktop.png");
  }
  .wrapperLayout {
    width: 565px;
  }
}
.wrapperLogin {
  background-image: url("../assets/images/backgroundMobileLogin.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 460px;
  margin: auto;
}

.wrapperLayoutLogin {
  background-color: rgba(9, 30, 63, 0.8);
  width: 320px;
  height: 460px;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  top: 5%;
}

.formLogin label {
  display: flex;
  flex-direction: column;
  color: #FFF;
  justify-content: space-between;
  gap: 10px;
}

.btn-registrationText {
  text-decoration: underline;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  font-size: 13px;
  border: none;
  background: none;
}

@media (min-width: 768px) {
  .wrapperLogin {
    width: 768px;
    height: 620px;
    background-size: cover;
    background-image: url("../assets/images/backgroundTabletLogin.png");
  }
  .wrapperLayoutLogin {
    width: 768px;
    height: 620px;
  }
  .formLogin {
    background-color: #FFF;
    width: 400px;
    height: 420px;
    margin: auto;
    gap: 20px;
    top: 15%;
  }
}
@media (min-width: 1440px) {
  .wrapperElementLogin {
    display: flex;
    width: 1280px;
    margin: auto;
    align-items: center;
  }
  .wrapperLogin {
    background-image: url("../assets/images/backgroundRegistrationDesktop.png");
    width: 565px;
    height: 850px;
  }
  .wrapperLayoutLogin {
    width: 565px;
    height: 850px;
  }
  .formLogin {
    top: 25%;
  }
}
.wrapperQuote {
  width: 316px;
  background-color: #FFF;
  height: 176px;
  display: flex;
  align-items: center;
  margin: 10px auto 0;
}

.containerQuote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  gap: 10px;
}

.dash-quote {
  width: 100px;
  color: #242A37;
}

.text-author {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  color: #242A37;
}

.text-quote {
  width: 229px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  font-size: 13px;
  color: #242A37;
}

@media (min-width: 768px) {
  .wrapperQuote {
    width: 594px;
    height: 404px;
  }
  .containerQuote {
    gap: 40px;
  }
  .text-quote {
    width: 526px;
    font-size: 24px;
    line-height: 38px;
  }
  .dash-quote {
    width: 150px;
  }
  .text-author {
    font-size: 20px;
  }
  .quote-icon {
    width: 31px;
  }
}
@media (min-width: 1440px) {
  .wrapperQuote {
    width: 713px;
  }
  .text-quote {
    font-size: 24px;
    width: 397px;
  }
}
.wrapperInstruction {
  width: 255px;
  height: 425px;
  background-color: #FFF;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1019607843);
  margin: 85px 20px 85px 25px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  justify-content: center;
  gap: 20px;
  z-index: 1;
  position: absolute;
}

.overlay-instruction {
  position: fixed;
  width: 320px;
  height: 648px;
  background-color: rgba(43, 43, 43, 0.1019607843);
}

.wrapperSubtitle {
  display: flex;
  gap: 9px;
  align-items: start;
}

.text-step {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
}

.text-subtitle {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  color: #242A37;
  width: 209px;
}

.text-instructionDescription {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  color: #898F9F;
  width: 190px;
}

.btn-instruction {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  background-color: #D15807;
  border: none;
  color: #FFF;
  width: 127px;
  height: 40px;
  box-shadow: 0px 2px 4px 0px #000000;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .overlay-instruction {
    background-color: transparent;
    position: relative;
  }
  .wrapperInstruction {
    margin: 0;
    width: 570px;
    height: 270px;
    transform: translate(16%);
  }
  .text-step {
    font-size: 19px;
    font-family: "Montserrat";
    font-weight: 600;
  }
  .text-subtitle {
    width: 309px;
    font-size: 16px;
    font-weight: 600;
  }
  .text-instructionDescription {
    width: 421px;
  }
  .btn-instruction {
    display: none;
  }
}
@media (min-width: 1440px) {
  .wrapperInstruction {
    transform: translate(60%);
  }
}
.wrapperLibrary {
  background-color: #F6F7FB;
  width: 320px;
  height: 588px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.btnAddBook {
  width: 171px;
  height: 42px;
  border: 1px solid #242A37;
  background: none;
}

.inputAddBook {
  width: 255px;
  height: 42px;
  border: 1px solid #A6ABB9;
  padding: 0 0 0 15px;
  background-color: #F6F7FB;
}
.inputAddBook:focus {
  background-color: #FFF;
}

.formLibrary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.formLibrary label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
}

.btnBack {
  background: none;
  border: none;
  text-align: start;
  margin-top: 20px;
  margin-left: 20px;
}

.formLibrary div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.library-intention {
  display: none;
}

@media (min-width: 768px) {
  .library-intention {
    display: block;
  }
  .wrapperLibrary {
    width: 768px;
    height: auto;
  }
  .formLibrary label:first-of-type .inputAddBook {
    width: 594px;
  }
  .formLibrary div label:nth-child(1) .inputAddBook {
    width: 250px;
  }
  .inputAddBook {
    width: 145px;
  }
  .formLibrary div {
    flex-direction: row;
  }
  .formLibrary {
    gap: 30px;
    margin-top: 40px;
  }
  .btnBack {
    display: none;
  }
}
@media (min-width: 1440px) {
  .wrapperLibrary {
    width: 1280px;
  }
  .formLibrary {
    flex-direction: row;
    align-items: end;
  }
  .formLibrary label:first-of-type .inputAddBook {
    width: 346px;
  }
  .inputAddBook {
    width: 130px;
  }
}
.mainWrapperIntention {
  width: 320px;
  height: auto;
  background-color: #F6F7FB;
  margin: auto;
  padding-bottom: 40px;
}

.mainTitleIntention {
  margin-left: 25px;
  padding-top: 30px;
  font-family: "Montserrat";
  font-size: 19px;
  font-weight: 600;
}

.wrapperIntention {
  width: 270px;
  height: 178px;
  background-color: #FFF;
  margin: auto;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1019607843);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.wrapperTitle {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  gap: 13px;
  align-items: start;
}

.wrapperDescription {
  display: grid;
  grid-template-columns: 60px auto;
  row-gap: 6px;
  column-gap: 8px;
  margin: 10px auto;
}

.text-empty {
  text-align: center;
  font-family: "Montserrat";
  font-size: 19px;
  font-weight: 600;
}

.title-intention {
  color: #242A37;
  font-family: "Montserrat";
  font-weight: 500;
}

.subtitle-intention {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  font-size: 12px;
}

.info-intention {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  font-size: 12px;
  color: #242A37;
}

.intentionHeader {
  display: none;
}

.btnNewIntention {
  border-radius: 50%;
  background-color: #FF6B08;
  width: 52px;
  height: 52px;
  color: #FFF;
  border: none;
  position: relative;
  bottom: 30px;
}

.btnNext {
  width: 172px;
  height: 42px;
  background-color: #FF6B08;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  color: #FFF;
  border: none;
}

.btnWrapperIntention {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookItem {
  cursor: grab;
}

.bookItem:active {
  cursor: grabbing;
}

@media (min-width: 768px) {
  .mainWrapperIntention {
    width: 768px;
  }
  .btnNext {
    margin-top: 40px;
  }
  .title-intention.finishedTitleIntention {
    width: 45px;
  }
  .intentionHeader.finishedHeader {
    grid-template-columns: 170px 1fr 70px 90px 260px;
  }
  .wrapperDescription.wrapperDescriptionFinished {
    grid-template-columns: 1fr 0px 0px 60px 0px;
    align-items: center;
    column-gap: 80px;
  }
  .wrapperIntention {
    width: 678px;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .intentionHeader {
    display: grid;
    grid-template-columns: 370px 1fr 90px 100px;
    align-items: center;
    margin: 20px 20px 0px 50px;
  }
  .subtitle-intention {
    display: none;
  }
  .title-intention {
    width: 240px;
    font-size: 14px;
  }
  .wrapperTitle {
    margin-top: 0;
    align-items: center;
  }
  .wrapperDescription {
    grid-template-columns: 120px 1fr 0px 0px;
    column-gap: 53px;
    margin: 0px 0px 0px 70px;
  }
  .btnNewIntention {
    display: none;
  }
  .mainTitleIntention {
    margin-left: 45px;
  }
  .btnResume {
    background-color: #6D7A8D;
    width: 80px;
    height: 40px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2509803922);
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    color: #898F9F;
    color: white;
    border: none;
  }
}
@media (min-width: 1440px) {
  .intentionHeader {
    grid-template-columns: 4fr 3fr 1fr 1fr;
    align-items: center;
    column-gap: 16px;
    width: 1240px;
    margin-bottom: 20px;
  }
  .btnResume {
    width: 130px;
  }
  .intentionHeader.finishedHeader {
    grid-template-columns: 370px 1fr 70px 120px 460px;
  }
  .wrapperDescription.wrapperDescriptionFinished {
    grid-template-columns: 80px 1fr 40px 120px 460px;
    margin: 0px 0px 0px 300px;
  }
  .mainTitleIntention {
    margin-left: 39px;
  }
  .wrapperIntention {
    width: 1202px;
    margin: 10px 0 0 40px;
  }
  .wrapperDescription {
    margin: 0px 0px 0px 250px;
    grid-template-columns: minmax(360px, 2fr) minmax(110px, 3fr) minmax(80px, 1fr) minmax(80px, 1fr);
    width: 100%;
  }
  .mainWrapperIntention {
    width: 1280px;
  }
  .btnWrapperIntention {
    width: 1280px;
  }
}
.backdrop {
  position: fixed;
  background: rgba(43, 43, 43, 0.1019607843);
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalResume {
  width: 570px;
  height: 408px;
  background-color: #FFF;
  box-shadow: 10px 10px 20px 0px rgba(9, 30, 63, 0.1019607843);
}

.text-resume {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  font-size: 16px;
  color: #242A37;
  margin-bottom: 10px;
}

.containerModal {
  margin-left: 30px;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.textarea-resume {
  width: 510px;
  height: 170px;
  border: 1px solid #A6ABB9;
}

.btnBackResume {
  border: 1px solid #242A37;
  width: 130px;
  height: 40px;
  background: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  color: #242A37;
}

.btnSave {
  background-color: #FF6B08;
  color: #FFF;
  width: 130px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  border: none;
}

.wrapperButtonResume {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 30px;
}

.btnStar {
  background: none;
  border: none;
  padding: 0 10px 0 0;
}

.wrapperAccount {
  display: flex;
  flex-direction: column;
}

.backgroundWrapper {
  background-image: url("../assets/images/backgroundWrapperAccount.jpg");
  width: 320px;
  height: 130px;
  background-size: cover;
  margin: auto;
  display: flex;
  justify-content: center;
}

.accountImage {
  border-radius: 50%;
  width: 123px;
  height: 123px;
  border: none;
  position: relative;
  top: 50px;
  padding: 0;
}

.imageDefaultAccount {
  width: 123px;
  height: 123px;
}

.btnChangeImage {
  position: absolute;
  right: 0;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #FF6B08;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.userName {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
}

.containerAccount {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.btnEdit {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: #FFF;
  background-color: #FF6B08;
  font-family: "Montserrat";
}

@media (min-width: 768px) {
  .backgroundWrapper {
    width: 768px;
    height: 210px;
  }
  .accountImage {
    top: 120px;
  }
}