.headerReading {
  width: 320px;
  height: 60px;
  background-color: #FFF;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1019607843);
  margin: auto;
  display: flex;
}

.titleHeader {
  font-weight: bold;
  font-family: "Abril Fatface";
  color: #242A37;
  font-size: 20px;
  margin: auto;
}

.titleInfo {
  font-weight: bold;
  font-family: "Abril Fatface";
  color: #242A37;
  font-size: 34px;
  text-align: center;
}

.containerInfo {
  width: 320px;
  height: 588px;
  display: flex;
  background-color: #FFF;
  margin: 10px auto 0;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}

.containerOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.textOption {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  width: 254px;
}

.titleOption {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #898F9F;
  font-size: 20px;
  color: #242A37;
}